{
	"skill": "{{ skillName }}",
	"slotTypes": [
		{
			"name": "DummySlot",
			"matchingStrictness": null,
			"automaticallyExtensible": false,
			"useSynonyms": true,
			"values": [
				{
					"value": "foo",
					"synonyms": [
						"bar"
					]
				}
			]
		}
	],
	"intents": [
		{
			"name": "Dummy",
			"enabledByDefault": true,
			"utterances": [
				"dummy {foo:=>DummySlotName}",
				"bar"
			],
			"slots": [
				{
					"name": "DummySlotName",
					"required": false,
					"type": "DummySlot",
					"missingQuestion": ""
				}
			]
		}
	]
}
