# {{ skillName }}

[![Continous Integration](https://gitlab.com/project-alice-assistant/skills/skill_{{ skillName }}/badges/master/pipeline.svg)](https://gitlab.com/project-alice-assistant/skills/skill_{{ skillName }}/pipelines/latest)

{{ description }}

- Author: {username}
- Maintainers: N/A
- Alice minimum version: 1.0.0
- Languages:
{% for lang in langs %}
  - {{ lang }}
{% endfor %}
