# {{ skillName }}

[![Continous Integration](https://gitlab.com/project-alice-assistant/skills/skill_{{ skillName }}/badges/master/pipeline.svg)](https://gitlab.com/project-alice-assistant/skills/skill_{{ skillName }}/pipelines/latest)https://sonarcloud.io/api/project_badges/measure?project=project-alice-assistant_skill_{{ skillname }}&metric=alert_status)](https://sonarcloud.io/dashboard?id=project-alice-assistant_skill_{{ skillname }})

{{ description }}

- Author: {username}
- Maintainers: N/A
- Alice minimum version: 1.0.0
- Languages:
{% for lang in langs %}
  - {{ lang }}
{% endfor %}
