{
	"name": "{moduleName}",
	"version": "0.0.1",
	"author": "{username}",
	"maintainers": [],
	"desc": "{description}",
	"aliceMinVersion": "1.0.0",
	"pipRequirements": [{pipRequirements}],
	"systemRequirements": [{systemRequirements}],
	"conditions": {{
		"lang": [{langs}]
	}
}